{github_emqx_libs,
       [{cuttlefish, "v2.2.1"},
        {minirest, "v0.2.2"},
        {sqlparse, "master"}]}.

{github_emqx_projects, [emqx]}.

{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warn_unused_vars,
            warn_shadow_vars,
            warn_unused_import,
            warn_obsolete_guard,
            debug_info,
            {parse_transform}]}.

{plugins, [rebar3_proper]}.

{profiles,
    [{test, [
        {deps, [ proper
               , meck
               ]}
    ]}
]}.


{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               warnings_as_errors, deprecated_functions]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C \"$REBAR_DEPS_DIR/cuttlefish\" all"},
             {"(freebsd|netbsd|openbsd)", compile, "gmake -C \"$REBAR_DEPS_DIR/cuttlefish\" all"},
             {"win32", compile, "make -C \"%REBAR_DEPS_DIR%/cuttlefish\" all -W test"}
            ]}.
